body {
    background-color: azure;
}

.nav {
    position: absolute;
    background-color: cornflowerblue;
    height: 70px;
    top:0px;
    left:0px;
    right:0px;
}

.brand {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-size: 24px;
    font-weight: bold;
    font-style: italic;
    padding-left: 50px;
    position: relative;
    margin: 0;
    top:50%;
    transform: translateY(-50%);
    float:left;
}

.menu {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    margin: 0;
    top:50%;
    transform: translateY(-50%);
    float: right;
    padding: 20px;

}

.menu:hover {
    background-color:whitesmoke;
    color:skyblue;
}

footer {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: fixed;
    left:0;
    bottom: 0;
    width: 100%;
    background-color: cornflowerblue;
    color:white;
    text-align: center;
}